
@{
    ViewData["Title"] = "ثبت نام";
    Layout = null;
}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ثبت نام</title>
    <!-- font---------------------------------------->
    <link rel="stylesheet" href="~/SiteTemplate/assets/css/vendor/font-awesome.min.css">
    <link rel="stylesheet" href="~/SiteTemplate/assets/css/vendor/materialdesignicons.css">
    <!-- plugin-------------------------------------->
    <link rel="stylesheet" href="~/SiteTemplate/assets/css/vendor/bootstrap.css">
    <link rel="stylesheet" href="~/SiteTemplate/assets/css/vendor/owl.carousel.min.css">
    <link rel="stylesheet" href="~/SiteTemplate/assets/css/vendor/noUISlider.min.css">
    <!-- main-style---------------------------------->
    <link rel="stylesheet" href="~/SiteTemplate/assets/css/main.css">
</head>
<body>

    <!-- login----------------------------------->
    <div class="container">
        <div class="row">
            <div class="col-lg">
                <section class="page-account-box">
                    <div class="col-lg-6 col-md-6 col-xs-12 mx-auto">
                        <div class="ds-userlogin">
                            <a href="~/" class="account-box-logo">Arshia Store</a>
                            <div class="account-box">
                                <div class="account-box-headline">
                                    <a href="~/authentication/signin" class="login-ds">
                                        <span class="title">ورود</span>
                                        <span class="sub-title">به فروشگاه ارشیا</span>
                                    </a>
                                    <a href="~/authentication/signup" class="register-ds active">
                                        <span class="title">ثبت نام</span>
                                        <span class="sub-title">در فروشگاه ارشیا</span>
                                    </a>
                                </div>
                                <div class="Login-to-account mt-4">
                                    <div class="account-box-content">
                                        <h4>ثبت نام در دیجی اسمارت</h4>
                                        <form method="post" class="form-account text-right">
                                            <div class="form-account-title">
                                                <label for="email-phone">نام نام خانوادگی</label>
                                                <input type="text" class="number-email-input" id="FullName">
                                            </div>


                                            <div class="form-account-title">
                                                <label for="email-phone">ایمیل  </label>
                                                <input type="email" class="number-email-input" id="Email">
                                            </div>
                                            <div class="form-account-title">
                                                <label for="password">رمز عبور</label>
                                                <input type="password" class="password-input" id="Password">
                                            </div>
                                            <div class="form-account-title">
                                                <label for="password">تکرار رمز عبور</label>
                                                <input type="password" class="password-input" id="RePassword">
                                            </div>
                                            <div class="form-auth-row">
                                                <label for="#" class="ui-checkbox mt-1">
                                                    <input type="checkbox" value="1" name="login" id="remember">
                                                    <span class="ui-checkbox-check"></span>
                                                </label>
                                                <label for="remember" class="remember-me mr-0"><a href="#">حریم خصوصی</a> و <a href="#">شرایط قوانین </a>استفاده از سرویس های سایت دیجی‌اسمارت را مطالعه نموده و با کلیه موارد آن موافقم.</label>
                                            </div>
                                            <div class="form-row-account">
                                                <a onclick="RegisterUser()" class="btn btn-primary btn-register">ثبت نام در فروشگاه </a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- login----------------------------------->
    <!-- scroll_Progress------------------------->
    <div class="progress-wrap">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>
    <!-- scroll_Progress------------------------->

</body>
<!-- file js---------------------------------------------------->
<script src="~/SiteTemplate/assets/js/vendor/jquery-3.2.1.min.js"></script>
<script src="~/SiteTemplate/assets/js/vendor/bootstrap.js"></script>
<!-- plugin----------------------------------------------------->
<script src="~/SiteTemplate/assets/js/vendor/owl.carousel.min.js"></script>
<script src="~/SiteTemplate/assets/js/vendor/jquery.countdown.js"></script>
<script src="~/SiteTemplate/assets/js/vendor/ResizeSensor.min.js"></script>
<script src="~/SiteTemplate/assets/js/vendor/theia-sticky-sidebar.min.js"></script>
<script src="~/SiteTemplate/assets/js/vendor/wNumb.js"></script>
<script src="~/SiteTemplate/assets/js/vendor/nouislider.min.js"></script>
<!-- main js---------------------------------------------------->
<script src="~/SiteTemplate/assets/js/main.js"></script>


<link href="~/Sweetalert2/sweetalert2.min.css" rel="stylesheet" />
<script src="~/Sweetalert2/sweetalert2.min.js"></script>


<script>

    function RegisterUser()
    {

        var FullName = $("#FullName").val();
        var Email = $("#Email").val();
        var Password = $("#Password").val();
        var RePassword = $("#RePassword").val();
        var Policy=$("#remember").prop('checked');

        var postData = {
            'FullName': FullName,
            'Email': Email,
            'Password': Password,
            'RePassword': RePassword,
            'Policy' : Policy,
        };

        $.ajax({
            contentType: 'application/x-www-form-urlencoded',
            dataType: 'json',
            type: "POST",
            url: "SignUp",
            data: postData,
            success: function(data)
            {
                if(data.isSuccess == true)
                {
                    swal.fire(
                        'موفق!',
                        data.message,
                        'success'
                    ).then(function(isConfirm)
                    {
                        window.location.replace("/");
                        //location.reload();
                    });
                }
                else
                {
                    swal.fire(
                        'ثبت نام ناموفق!',
                        data.message,
                        'warning'
                    );
                }
            },
            error: function(request, status, error)
            {
                swal.fire(
                    'هشدار!',
                    request.responseText,
                    'warning'
                );
            }
        });
    }
</script>
</html>
