
@{
    ViewData["Title"] = "AddNewCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="basic-elements">
 
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title-wrap bar-success">
                        <h4 class="card-title mb-0">اضافه کردن دسته بندی جدید برای محصولات</h4>
                    </div>
                </div>
                <div class="card-body">
                    <div class="px-3">
                        <div class="form">
                            <div class="form-body">
                                <div class="row">
                                    <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                                        <fieldset class="form-group">
                                            <input type="hidden" id="parentId" value="@ViewBag.parentId" />
                                            <label for="basicInput">نام دسته بندی</label>
                                            <input type="text" class="form-control" id="Name">
                                        </fieldset>
                                    </div>

                                    <div class="col-xl-12 col-lg-12 col-md-12 mb-1">
                                        <fieldset class="form-group">
                                            <br />
                                            <a onclick="AddNewCategory()" class="btn btn-success col-md-12">اضافه کردن به لیست</a>
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

