
@using Arshia_Store.Application.Serivces.Products.Queries.GetProductsForSite
@model ResultProductForSiteDto
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-lg-12 col-md-12 col-xs-12 pl">
        <div class="shop-archive-content mt-3 d-block">
            <div class="archive-header">
                <h2 class="archive-header-title">آرشیو محصولات</h2>
                <div class="sort-tabs mt-0 d-inline-block pr">
                    <h4>مرتب&zwnj;سازی بر اساس :</h4>
                </div>
                <div class="nav-sort-tabs-res">
                    <ul class="nav sort-tabs-options" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="Most-visited-tab" data-toggle="tab" href="#Most-visited" role="tab" aria-controls="Most-visited" aria-selected="true">پربازدیدترین</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="Bestselling-tab" data-toggle="tab" href="#Bestselling" role="tab" aria-controls="Bestselling" aria-selected="false">پرفروش&zwnj;ترین&zwnj;</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="Most-Popular-tab" data-toggle="tab" href="#Most-Popular" role="tab" aria-controls="Most-Popular" aria-selected="false">محبوب&zwnj;ترین</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="newest-tab" data-toggle="tab" href="#newest" role="tab" aria-controls="newest" aria-selected="false">جدیدترین</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="cheapest-tab" data-toggle="tab" href="#cheapest" role="tab" aria-controls="cheapest" aria-selected="false">ارزان&zwnj;ترین</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="most-expensive-tab" data-toggle="tab" href="#most-expensive" role="tab" aria-controls="most-expensive" aria-selected="false">گران&zwnj;ترین</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="product-items">
                <div class="tab-content" id="myTabContent">

                    @foreach (var item in Model.Products)
                    {
                        <div class="tab-pane fade show active" id="Most-visited" role="tabpanel" aria-labelledby="Most-visited-tab">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-xs-12 order-1 d-block mb-3">
                                    <section class="product-box product product-type-simple">
                                        <div class="thumb">
                                            <a href="#" class="d-block">
                                                <div class="product-rate">
                                                    @for (int i = 1; i <= item.Star; i++)
                                                    {
                                                        <i class="fa fa-star active"></i>
                                                    }
                                                    @for (int i = 1; i <= (5 - item.Star); i++)
                                                    {
                                                        <i class="fa fa-star"></i>
                                                    }
                                                </div>
                                                @if(item.ImageSrc != string.Empty)
                                                {
                                                    <img src="~/@item.ImageSrc">
                                                }
                                                else
                                                {
                                                    <img src="~/images/ProductImages/nofound.jpg">
                                                }
                                            </a>
                                        </div>
                                        <div class="title">
                                            <a asp-action="Detail" asp-controller="Product" asp-route-ProductId=@item.Id>  @item.Title</a>
                                        </div>
                                        <div class="price">
                                            <span class="amount">
                                                @item.Price.ToString("n0")
                                                <span>تومان</span>
                                            </span>
                                        </div>
                                    </section>
                                </div>

                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="pagination-product">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">«</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link active" href="#">1</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">2</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">3</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">»</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>


