@using Arshia_Store.Application.Serivces.Menu.Queries.GetCategories
@model List<CategoryDto>
@{
    Layout = null;
}

 <form asp-action="Index" asp-controller="Product" method="get" class="form-search">
    <input type="search" class="header-search-input" name="SearchKey" placeholder="نام کالا، برند و یا دسته مورد نظر خود را جستجو کنید…">
    <div class="action-btns">
        <button class="btn btn-search" type="submit">
            <i class="fa fa-search"></i>
        </button>
        <div class="search-filter">
            <div class="form-ui">
                <div class="custom-select-ui">
                    <select class="right" name="CategoryId" asp-items="@(new SelectList(Model,"Id","Name"))">
                        <option>همه دسته ها</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</form>
